---
import { cn } from '../utils/cn';
import IntersectionObserver from './IntersectionObserver.astro';

interface Props {
  imageSrc: ImageMetadata;
  title: string;
  description: string;
  delay: string;
  class?: string;
}

const {
  imageSrc,
  title,
  description,
  delay,
  class: additionalClass = '',
} = Astro.props;
---

<IntersectionObserver
  class="data-[observer=true]:animate-fade-in-up-800 animate-order-child opacity-0"
  style={`animation-delay: ${delay}; --animation-delay: ${delay};`}
>
  <section
    class={cn(
      'group relative px-6 py-16 text-white sm:px-12 sm:py-20 bg-cover bg-center bg-no-repeat',
      additionalClass
    )}
    style={`background-image: url(${imageSrc.src});`}
  >
    {/* 背景のフィルターレイヤー */}
    <div
      class="absolute inset-0 bg-black/50 grayscale transition-all duration-700 group-hover:grayscale-0"
    >
    </div>

    <div class="relative z-10">
      <h3 class="mb-2 text-lg font-semibold sm:text-xl">
        {title}
      </h3>
      <p class="text-sm">
        {description}
      </p>
    </div>
  </section>
</IntersectionObserver>
